<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Asker Platform</title>
  </head>
  <body>
    <h1>
      Bem vindo ao Asker, <%= name %>! Bora aprender mais sobre <%= lang %>.
    </h1>
  </body>
</html>
